.blog-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-bg2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-wrapper {
  width: 100%;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
}

.slider {
  display: flex;
  width: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 100%;
  flex-shrink: 0;
}

.card {
  flex: 1 1 calc(33.33% - 20px);
  height: 72vh;
  width: 30vw;
  background: #fff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  height: 60%;
  object-fit: fill;
}

.card h2 {
  font-size: 1.5rem;
  margin-top: 18px;
  font-family: Acme;
  word-spacing: 3px;
  margin-bottom: -80px ;
}

.card p {
  font-size: 1.2rem;
  color: #555;
  font-family: Manrope;
  font-weight: 700;
  margin-bottom: 100px ;
  margin-top: 90px;
  padding: 6px;
  color : var(--color-bg)
}

@media screen and (max-width:1497px){
  .card p{
    font-size: 1.1rem;
  }
}

@media screen and (max-width:951px){
  .card p{
    font-size: 1.06rem;
  }
  .card h2{
    font-size: 1.3rem;
  }
}

@media screen and (max-width:755px) {
  .card p{
    font-size: 1.02rem;
  }
  .card h2{
    font-size: 1.2rem;
  }
  .card{
    height: 70vh;
  }
  .blog-container{
    height: 86vh;
  }
}

@media screen and (max-width:717px){
  .card p{
    font-size: 0.9rem;
  }
  .card h2{
    font-size: 1rem;
  }
  .card{
    height: 60vh;
  }
  .blog-container{
    height: 80vh;
  }
}

@media screen and (max-width:654px){
  .card p{
    font-size: 0.84rem;
  }
  .card h2{
    font-size: 0.9rem;
  }
  .card{
    height: 55vh;
  }
  .blog-container{
    height: 75vh;
  }
}

@media screen and (max-width:642px){
  .blog-container {
    height: 110vh;
  }
  .slider{
    flex-direction: column;
    gap: 30px;
  }

  .card p{
    font-size: 0.6rem;
  }
  .card h2{
    font-size: 0.8rem;
  }
  .card{
    height: 45vh;
  }
}

@media screen and (max-width:486px) {
  .blog-container {
    height: 105vh;
  }
}
