.blog-container {
  background-color: var(--color-bg2);
  padding: 40px 20px;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 20px;
}

.card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-title {
  font-family: Acme;
  font-size: 1.5rem;
  margin: 16px;
  text-align: center;
  word-spacing: 3px;
}

.card-content {
  font-family: Manrope;
  font-size: 1rem;
  margin: 0 16px 16px 16px;
  font-weight: 700;
  color: var(--color-bg);
}

@media screen and (max-width:1091px){
  .card-title {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .card-content {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 557px) {
  .card-title {
    font-size: 1.07rem;
  }

  .card-content {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 483px) {
  .card-title {
    font-size: 0.88rem;
  }

  .card-content {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 425px) {
  .card-title {
    font-size: 0.75rem;
  }
  .card-content {
    font-size: 0.6rem;
  }
  .card-title{
    word-spacing: 0px;
  }
}

@media screen and (max-width: 359px) {
  .card-title {
    font-size: 0.65rem;
  }
  .card-content {
    font-size: 0.58rem;
  }
}
