.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: var(--color-bg2);
}

.about-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5rem;
}


.about-image-container {
  display: flex;
  flex: 1;
}

.about-image {
  width: 540px;
  display: flex;
  padding-top: 100px;
}


.about-text-container {
  flex: 1;
  margin-top: -50px;
  margin-right: 30px;
}

.about-heading {
  font-size: 5rem;
  font-weight: 1000;
  margin-bottom: -20px;
  color: #e11f2c;
  font-family: "Acme";
}

.about-subheading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #e11f2c;
  font-family: "Acme";
  word-spacing: 2px;
}

.about-text {
  font-size: 1.5rem;
  color: black;
  line-height: 1.5;
  font-family: "Acme";
  word-spacing: 2px;
}

@media screen and (max-width:1497px) {
  .about-text-container{
    margin-top:-90px ;
  }
  .about-image {
    width:30rem;
    padding-top: 120px;
  }
}

@media screen and (max-width:1390px)  {
  .about-text-container{
    max-width: 40rem;
  }
  .about-heading{
    font-size: 4rem;
  }
  .about-subheading{
    font-size: 1.6rem;
  }
  .about-text{
    font-size: 1.4rem;
    margin-right: 0.4rem;
  } 
}


@media screen and (max-width:1029px) {

  .about-image {
    width: 28rem;
  }
  .about-text-container{
    max-width: 40rem;
  }
  .about-heading{
    font-size: 3.5rem;
  }
  .about-subheading{
    font-size: 1.4rem;
  }
  .about-text{
    font-size: 1.3rem;
    margin-right: 0.4rem;
  } 
}

@media screen and (max-width:938px) {
  .about-image {
    width: 25rem;
  }
  .about-text-container{
    max-width: 40rem;
  }
  .about-heading{
    font-size: 3rem;
  }
  .about-subheading{
    font-size: 1.35rem;
  }
  .about-text{
    font-size: 1.2rem;
    margin-right: 0.4rem;
  } 
}

@media screen and (max-width:873px) {
  .about-heading{
    font-size: 2.5rem;
    margin-top: 70px;
  }
  .about-subheading{
    font-size: 1.3rem;
  }
  .about-text{
    font-size: 1.1rem;
    margin-right: 0.4rem;
  } 
  .about-image{
    width: 22rem;
  }
  .about-section{
    height: 85vh;;
  }
}

@media screen and (max-width:814px) {
  .about-subheading{
    font-size: 1.1rem;
  }
  .about-text{
    font-size: 1rem;
    margin-right: 0.4rem;
  } 
}

@media screen and (max-width:762px){
  .about-section{
    height: 165vh;
  }
  .about-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;
  }
  .about-image{
    width: 33rem;
    padding-top: 0px;
  }
  .about-text-container{
    max-width: 40rem;
    padding-left: 30px;
  }
  .about-heading{
    font-size: 3rem;  
    margin-top: 0px;
  }
  .about-subheading{
    font-size: 1.5rem;
  }
  .about-text{
    font-size: 1.2rem;
  }
  } 

  @media screen and (max-width:569px){
    .about-section{
      height: 145vh;
    }
    .about-image{
      width: 29rem;
    }
    .about-heading{
      font-size: 2.8rem;  
    }
    .about-text{
      font-size: 1rem;
    }
  }

  @media screen and (max-width:474px) {
    .about-section{
      height: 120vh;
    }
    .about-image{
      width: 25rem;
    }
    .about-text{
      font-size: 0.9rem;
    }
    .about-heading{
      font-size: 2.3rem;  
    }
    .about-subheading{
      font-size: 1rem;
    }
  }

  @media screen and (max-width:401px){
    .about-section{
      height: 120vh;
    }
    .about-image{
      width: 22rem;
    }
  }


  @media screen and (max-width:358px){
    .about-section{
      height: 110vh;
    }
    .about-text-container{
      margin-right: 0px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .about-text{
      margin-right: 0px;
    }
    .about-heading{
      font-size: 2.1rem;  
    }
    .about-text{
      font-size: 0.8rem;
    }
    .about-image{
      width: 20rem;
    }
    .about-container{
      gap: 2.7rem;
    }
  }
  @media screen and (max-width:341px) {
    .about-section{
      height: 100vh;
    }
    .about-image{
      width: 17rem;
    }
  }

