@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


html {
    height: 100%;
    margin: 0px;
    padding: 0px;
  }

body{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
}

:root{
    --color-bg: #ed303c;
    --color-bg2: #fef6ce;
}